<!--<clr-header>
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <cds-icon shape="vm-bug"></cds-icon>
      <span class="title">Centre ABC </span>
    </a>
  </div>
  <div class="header-nav">
    <a href="javascript://" class="nav-link nav-text">Home</a>
    <a href="javascript://" class="nav-link nav-text">About</a>
    <a href="javascript://" class="nav-link nav-text">Services</a>
  </div>
  <div class="header-actions">
    <a href="javascript://" class="nav-link">
      <cds-icon shape="cog"></cds-icon>
    </a>
  </div>
</clr-header>-->
