.bgClass {
  background: rgb(182, 245, 255);
  background: linear-gradient(
    90deg,
    rgba(182, 245, 255, 1) 0%,
    rgba(246, 255, 159, 1) 35%,
    rgba(255, 180, 245, 1) 77%,
    rgba(184, 243, 255, 1) 100%
  );
  font-size: 50px !important;
  color: rgb(0, 52, 97);
}
.special {
  color: rgb(255, 155, 189);
  font-size: 64;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.saveable {
  color: black;
  font-size: 50px;
}
.inputValue {
  color: red;
}
.main-container {
  flex-direction: column;
}
.sidebar-content-container {
  display: flex;
  flex: 1;
}
.content-container {
  flex: 1;
  padding: 20px;
}
.content-area {
  width: calc(100% - 250px);
  padding: 20px;
  background-color: #fff9f9;
}
.course-section div {
  padding: 20px;
}
